
body{ 
margin: 5;
padding:3;}
h1{ text-align: center;
color: black;
font-family: Helvetica;
padding-top: 20px;
width: 100%;}
table, th, td{padding: 2;
             text-align:center;
              align:center;
             }
a{text-align:center;
 border:solid black 2px;
 padding:2;}
p{text-align:center;}
